{# encoding:utf-8 #}
{% extends 'base.html' %}
{% block title %}Usuario No Registrado{% endblock%}

{% block contenedor %}
    <center>
        <h1 id="titulo" style="color:red; font-size:45px">Usuario no registrado</h1>
        <br>
        <img src="/static/img/anonimato.jpg" id="no_reg">
        <br>
        <p style="font-size:25px; font-family:courier;">favor de hacer <a href="/registro/" style="text-decoration:none;color:blue;" title="IR A REGISTRO">Click Aqui</a> para Registrarse...</p>
    </center>
    <br>
{% endblock %}