{# encoding:utf-8 #}
{% extends 'base.html' %}

{% block contenedor %}
	<div style="clear:both;"></div>
	<h1 id="title-blog">BLOG - ING. SISTEMAS</h1>
	{% for i in entrada.object_list %}
	<article id="art-blog">
		<div id="cont-blog">
			<div class="ec-stars-wrapper" style="float: right;">
				<a href="#" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
				<a href="#" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
				<a href="#" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
				<a href="#" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
				<a href="#" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
			</div>
			<h2><div id="barrita"></div><a id="links" href="{% url 'sociedad.apps.blog.views.entrada' i.id %}" >{{ i.titulo | title }}</a></h2>
			<p><time>{{ i.fecha_entrada }}</time></p>
			<a href="/archivos/{{ i.imagen }}" target="_blank"><img id="img_entrada" src="/archivos/{{ i.imagen }}" ></a>
			<p>{{ i.descripcion | safe | truncatewords:"30" }}<a id="links" href="{% url 'sociedad.apps.blog.views.entrada' i.id %}">Leer mas...</a> </p>
			<div style="clear:both;"></div>	
		</div>
	</article>
	<div style="clear:both;"></div>	
	{% endfor %}
	<div id="flechas">
		<h1>Página {{ entrada.number }} de {{ entrada.paginator.num_pages }}</h1>
		{% if entrada.has_previous %}
			<a href="?page={{ entrada.previous_page_number }}" title="Página anterior" ><div id="flecha_izq"></div></a>
		{% endif %}
		{% if entrada.has_next %}
			<a href="?page={{ entrada.next_page_number }}" title='Página siguiente'><div id="flecha_der"></div></a>
		{% endif %}
	</div>
{% endblock %}
{% block historico%}
<aside>
		<blockquote id="cuadradito">-------- HISTORICO --------</blockquote>
		{% for month in months %}
		<a href="{% url 'sociedad.apps.blog.views.month' month.0 month.1 %}">{{ month.2 }}</a> <br />
		{% endfor %}
		<h4>Sobre Mi</h4>
		<p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
</aside>
{% endblock %}