{# encoding:utf-8 #}
{% extends 'base.html' %}
{% block title %}Cuenta Privada{% endblock%}

{% block contenedor %}
<div id="principal">
	<hgroup >
		<h1 id="historia" >Historia</h1>
		<h2 id="nombre">
		<b>	Publicado: </b>Edson David Delgado Ugarte (<time datetime= " 2008-02 -14 ">12/12/12</time>)</h2>
	</hgroup>
	<table>
		<tr>
			<td><img src="/static/img/logo.png"></td>
			<td>
				<p id="texto">	
				La SOCIEDAD CIENTIFICA "DENNIS RITCHIE" DE LA CARRERA DE INGENIERIA DE SISTEMAS DE LA <a href="http://www.uatf.edu.bo" target="_blank">U.A.T.F.</a>, fue creada en el año 2013 por un pequeño y selecto grupo de estudiantes, entre los cuales se encuentran Edson David Delgado Ugarte, Said Garnica, Luis Roberto Escalier y otros.

				Con el fin de formar una Institución que reúna y representa a los estudiantes de la carrera y convirtiéndose en el eje ejecutor y propiciado, se envió al Estudiante Edson Delgado, con el fin de realizar conversaciones con los distintos representantes de la DiCyT, hasta llegar a constituir la Sociedad Científica "Dennis Ritchie".
				<br>
				<br>
				<b>OBJETIVOS</b>
				<br>
				<br>

				    Desde su creación de la SCDeR ha trabajado en la búsqueda del cumplimiento cabal de sus objetivos. La defensa del Ejercicio Legal de la futura Profesión, difusión y desarrollo de la Ciencia y Tecnología propiciando cursos de especialización técnica de los ingenieros en diferentes áreas de actualización, mesas redondas y paneles sobre temas relacionados a la profesión, así como también sobre temas técnicos, socio-económicos u otros que sean fundamentales para el crecimiento y desarrollo armónico de nuestra carrera.

				    Ha participado y participa activamente en la solución de los problemas regionales dando su aporte técnico a todas las instituciones donde tiene representación permanente.
				</p>
			</td>
		</tr>
	</table>
</div>
<section id="novedades">
	<article id="nov_nov">
		<p class="ult_entrada">NOVEDADES</p>
	</article>
	{% block novedades %}
	<br>
	<div id="area">
	{% for i in entrada_b.object_list %}
		<h4>{{ i.titulo }}</h4>
		<p id="desc_b">{{i.descripcion|safe|truncatewords:"5" }}<a href="{% url 'sociedad.apps.biblioteca.views.ver_lib_cat' i.id %}" >Leer mas</a> </p>
		<hr>
	{% endfor %}
	</div>
	<br>
	{% endblock %}
</section>
<section id="novedades">
	<article id="nov_nov">
		<p class="ult_entrada">ACTIVIDADES RECIENTES</p>
	</article>
</section>
<section id="novedades">
	<article id="nov_nov">
		<p class="ult_entrada">ULTIMAS NOTICIAS</p>
	</article>
</section>
<div style="clear:both;"></div>
<br>
<br>
<br>
{% endblock %}

{% block perfil %}
	{{ dato.pais }}
{% endblock %}

