{# encoding:utf-8 #}
{% extends 'base2.html' %}
{% block title %}Registro De Usuario{% endblock%}
<!DOCTYPE html>
<html>
<head>
    
    <title></title>
</head>
<body>

{% block formulario %}
    <div class="form_registro">
        <form id="fregistro" method="post" action="">{% csrf_token %}
                <div id="form_reg">
                <h1 id="titulo" style="font-size:45px;">Formulario de Registro</h1>
                    <table id="tablas">
                    {% for field in form %}
                        {{ field.errors }}
                        <tr>
                            <td align="left">{{ field.label_tag }}<div id="resultado"></div></td>
                            <td>{{ field }}</td>
                        </tr>
                    {% endfor %}
                    </table>
                    <input type="submit" value="Guardar" id="control">
                    <a href='/cerrar/' class='button'><input type="button" value="Cancelar" id="control"></a>
                </div>
        </form>
    </div>
{% endblock %}
<script type="text/javascript">
        $(document).ready(inicio)
        function inicio()
        {
            $("#fregistro :input").blur(validar);
        }
        function validar(){
            
            if(this.id=='id_username'){
                var tusuario=this.value;
                $.ajax({
                    type:'POST',
                    url:'/verificar/',
                    data:$('#fregistro').serialize(),
                    beforeSend: antesEnviar,
                    success: llegada,
                    error:errores
                    });
                //alert (tusuario);
            }
            //alert("hola");
        }
        function antesEnviar(){
            $("#resultado").text("Verificando...");
        }
        function llegada(data){
            $("#resultado").text(data);
        }
        function errores(){
            $("#resultado").text("Problemas en el servidor...");
        }
    </script>
</body>
</html>